<div class="content" role="main">
  <!-- Next Steps -->
  <h1>{{widgetName}}</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
  <!-- Terminal -->
  <div class="terminal">
      <pre>ng generate component xyz</pre>
  </div>

  <div class="card-container">
    <button class="card card-small" (crtlClick)="handleCtrlClick()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Send message</span>
    </button>
  </div>
</div>
